openapi: 3.0.0
info:
  title: Auth Service
  version: 1.0.0
  description: API for the Auth Service

servers:
  - url: https://auth.warmhouse.com
    description: Production server
paths:
  /login:
    post:
      summary: Login
      description: Login to the system
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Unauthorized. Invalid credentials.
        "500":
          description: Internal server error.
  /register:
    post:
      summary: Register
      description: Register a new user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistrationRequest"
      responses:
        "200":
          description: Registration successful
        "400":
          description: Bad request. Invalid payload.
        "409":
          description: Conflict. User already exists.
        "500":
          description: Internal server error.
  /refresh-token:
    post:
      summary: Refresh Token
      description: Refresh the access token
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: The refresh token
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
        "401":
          description: Unauthorized. Invalid refresh token.
        "500":
          description: Internal server error.
  /logout:
    post:
      summary: Logout
      description: Logout the user
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
          description: The access token
      responses:
        "200":
          description: Logout successful
        "401":
          description: Unauthorized. Invalid access token.
        "500":
          description: Internal server error.

components:
  schemas:
    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
    LoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    RegistrationRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    RefreshTokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
